---
import BaseLayout from "../components/layout/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
import Talks from "../components/sections/Talks.astro";
import Skills from "../components/sections/Skills.astro";
import Contact from "../components/sections/Contact.astro";
---
<BaseLayout
  title="Törehan Gören — Resume"
  description="Personal resume website of Törehan Gören"
>
  <Hero />
  <About />
  <div style="height: 14px;"></div>
  <Experience />
  <Projects />
  <Talks />
  <Skills />
  <Contact />
</BaseLayout>
